@using HirentWeb2022.Models;
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="stepbox">
                <ul>
                    <li>
                        <a class="adisable a1">1</a>
                        <div><span id="ctl00_MainContent_chonsanpham">@(ViewBag.lang == "vi"? "Chọn sản phẩm" : "Select a product")</span></div>
                    </li>
                    <li>
                        <a class="aactive a1">2</a>
                        <div id="ctl00_MainContent_chondichvu">@(ViewBag.lang == "vi"? "Chọn dịch vụ" : "Choose a service")</div>
                    </li>
                    <li>
                        <a class="adisable">3</a>
                        <div id="ctl00_MainContent_xacnhandonhang">@(ViewBag.lang == "vi"? "Xác nhận đơn hàng" : "Confirm the order")</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    foreach (var item in (IEnumerable<tb_ProductTermConditionDetails>)Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- row -->
                    <div class="chonhinhthucvc">
                        <span id="ctl00_MainContent_chtvanchuyen">@(ViewBag.lang == "vi"? "Chọn hình thức vận chuyển, dịch vụ kèm theo" : "Select the shipping method, along with any additional services")</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-4 text-left">
                            <div class="tendv">
                                <span id="ctl00_MainContent_tendv">@(ViewBag.lang == "vi"? "Tên dịch vụ" : "Service name")</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-4 text-left">
                            <div class="tendv">
                                <span id="ctl00_MainContent_diengiai">@(ViewBag.lang == "vi"? "Diễn giải" : "Explanation")</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-4 text-left">
                            <div class="tendv" style="text-align: right!important">
                                <span id="ctl00_MainContent_giadichvutamtinh">@(ViewBag.lang == "vi"? "Giá dịch vụ tạm tính" : "Temporary service price")</span>
                            </div>
                        </div>
                    </div>
                    <div class="steptitle">
                        <span id="ctl00_MainContent_chondichvuvanchuyen">1.@(ViewBag.lang == "vi"? "chọn dịch vụ vận chuyển" : "Select a shipping service")</span>

                    </div>
                    <div class="steptitle_right">
                        <span id="cpDelivery" data-value="0">0</span> <span>đ</span>
                    </div>
                    <div class="clearfix">

                    </div>
                    <div class="row myrow">
                        <div class="col-sm-3 col-xs-12">
                            <div class="radVanchuyen">
                                <input data-text="tuvanchuyen" id="tuvanchuyen" type="radio" name="tvc" checked="checked" onclick="closeradcha()">
                                <span onclick="closeradcha2()"><span id="ctl00_MainContent_sptuvanchuyen">@(ViewBag.lang == "vi"? "Tự vận chuyển" : "Self-delivery")</span></span>
                            </div>
                            <div class="radcha radVanchuyen">
                                <input data-text="dichvuvanchuyen" id="dvvanchuyen" type="radio" name="tvc" onclick="clickradcha()"><span onclick="autoclickRad()"><span id="ctl00_MainContent_spdichvuvanchuyen">@(ViewBag.lang == "vi"? "Dịch vụ vận chuyển" : "Shipping service.")</span></span>
                            </div>

                            <div class="radcon " id="radDichVuVanChuyen">
                                <div class="radVanchuyen">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/Assets/Images/yourcart/giao hang.png" style="width: 45px;">
                                        </div>
                                        <div class="col-xs-9 myselect">
                                            <input id="gtn" data-text="giaotannha" type="radio" name="tvch" onclick="Giaotannha()">

                                            <span onclick="spGiaotannha()"><span>@(ViewBag.lang == "vi"? "Giao tận nhà" : "Home delivery")</span></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="radVanchuyen">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/Assets/Images/yourcart/nhan hang.png" style="width: 45px;">
                                        </div>
                                        <div class="col-xs-9 myselect">
                                            <input id="nttn" data-text="nhantratannha" type="radio" name="tvch" onclick="NhanTraTanNha()">

                                            <span onclick="spNhanTraTanNha()"><span>@(ViewBag.lang == "vi"? "Nhận trả tận nhà" : "Pick up and drop off at home")</span></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="radVanchuyen">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/Assets/Images/yourcart/giao va nhan tra.png" style="width: 45px;">
                                        </div>
                                        <div class="col-xs-9 myselect">
                                            <input data-text="giaovanhantratannha" type="radio" name="tvch" onclick="GiaoVaNhanTraTanNha()" id="radchild">
                                            <span class="gnttnmb" onclick="spGiaoVaNhanTraTanNha()"><span>@(ViewBag.lang == "vi"? "Giao và nhận trả tận nhà\r\n\r\n" : "Delivery and pick up at home")</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-1 col-xs-3" id="giavanchuyen"></div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div id="txtTuvanchuyen" class="boxvc">@item.Tuvanchuyen</div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="glv1">
                                        <div class="glamviec">
                                            <a onclick="tgTGLV()" style="display:block;">
                                                <i class="fa fa-clock-o"></i><span>
                                                    <span id="ctl00_MainContent_giolamviec">@(ViewBag.lang == "vi"? "Giờ làm việc" : "Working hours")</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="glamviec">
                                            <a href="https://goo.gl/maps/2jzSGg1THTmEgNMP6" id="ctl00_MainContent_csch" target="_blank">
                                                <i class="fa fa-map-marker"></i><span>
                                                    <span id="ctl00_MainContent_bandovitri">@(ViewBag.lang == "vi"? "Bản đồ vị trí" : "Location map")</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contcon1">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div id="txtCustommerAddress" class="boxvc boxdc">146m Nguyen Van Thu, P.Dakao, Q.1</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div id="xndd">
                                            <div>
                                                <div class="glamviec">

                                                    <button type="button" class="doidiadiem" data-toggle="modal" data-target="#modalAddress">
                                                        <i class="fa fa-map-marker"></i><span id="ctl00_MainContent_doidiadiem">@(ViewBag.lang == "vi"? "Đổi địa điểm" : "Location map")</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12">
                                        <div id="txtGiaohangtannha" class="boxvc vcchung" style="">Thời gian giao hàng khoảng 15 phút. Giao hàng trong bán kính 3 km, nếu xa hơn sẽ tính thêm phụ thu 5.000 / km|6868</div>
                                        <div id="txtNhantrtannha" class="boxvc vcchung" style="">Vui lòng trả hàng sớm trước 15 phút giờ shop đóng cửa. Nhận hàng trong bán kính 3 km, nếu xa hơn sẽ tính thêm phụ thu 5.000 / km|6868</div>
                                        <div id="txtGiaovanhantrantannha" class="boxvc vcchung" style="">6868|6868</div>
                                        <div id="vc6">
                                            <input placeholder="@(ViewBag.lang == "vi"? "Vui lòng nhập ghi chú" : "Note")..." id="txtGhichuVanchuyen">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">

                        </div>       <hr />

                    </div>

                    <div class="steptitle">
                        2.@(ViewBag.lang == "vi"? "Chọn dịch vụ khác" : "Choose another service")
                    </div>
                    <div class="steptitle_right">
                        <span id="cpService" data-value="0">0</span> <span>đ</span>
                    </div>
                    <div class="clearfix">

                    </div>
                    <div class="row myrow">
                        <div class="col-sm-3 col-xs-9">
                            <div class="radVanchuyen2">
                                <input id="radtulapdat" data-text="tulapdat" type="radio" name="tvc2" onclick="radTulapdat()" checked="checked">
                                <span onclick="autoclickRad2('radTulapdat')"><span>@(ViewBag.lang == "vi"? "Tự lắp đặt" : "Self-installation")</span></span>
                            </div>
                            <div class="radVanchuyen2 mg-50">
                                <input id="radhdsd" type="radio" name="tvc2" data-text="huongdansudung" onclick="radHdsd()">
                                <span onclick="autoclickRad2('radHdsd')"><span>@(ViewBag.lang == "vi"? "Hướng dẫn sử dụng" : "Instructions for use")</span></span>
                            </div>
                            <div class="radcha2 radVanchuyen2">
                                <input id="radthaolap" type="radio" data-text="" name="tvc2" onclick="radThaolap()">
                                <span onclick="autoclickRad2('radThaolap')"><span>@(ViewBag.lang == "vi"? "Dịch vụ thợ tới tháo lắp" : "Service with installation")</span></span>
                            </div>
                            <div class="radcon2" style="">
                                <div class="radVanchuyen2">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/Assets/Images/yourcart/tho den lap.png" style="width: 45px;">

                                        </div>
                                        <div class="col-xs-9 myselect">
                                            <input id="radThotoilap" type="radio" name="tvch2" data-text="thotoilap" onclick="radThotoilap()">
                                            <span onclick="spradThotoilap()"><span id="ctl00_MainContent_thotoilap">@(ViewBag.lang == "vi"? "Thợ tới lắp " : "Technician for installation"):</span></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="radVanchuyen2">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/Assets/Images/yourcart/tho den go.png" style="width: 45px;">

                                        </div>
                                        <div class="col-xs-9 myselect">
                                            <input id="radThotoithao" type="radio" name="tvch2" data-text="thotoithao" onclick="radThotoithao()">
                                            <span onclick="spradThotoithao()"><span id="ctl00_MainContent_thodenthao">@(ViewBag.lang == "vi"? "Thợ đến tháo" : "Technician for disassembly")</span></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="radVanchuyen2">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/Assets/Images/yourcart/tho den lap va go.png" style="width: 45px;">

                                        </div>
                                        <div class="col-xs-9 myselect">
                                            <input type="radio" name="tvch2" data-text="thodenlapvathao" onclick="radThodenlapvathao()" id="radThodenlapvathao">
                                            <span onclick="spradThodenlapvathao()"><span id="ctl00_MainContent_thodenlapvathao">@(ViewBag.lang == "vi"? "Thợ đến lắp và tháo" : "Technician for installation and disassembly")</span></span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-1 col-xs-3">

                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="txtTulapdat" class="boxvc2">@item.Tulapdat</div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="txtHuongDanSuDung" class="boxvc2">@item.Huongdansudung</div>
                                </div>

                            </div>
                            <div class="contcon">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div id="txtCustomerAddress2" class="boxvc2"></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div id="xndd2" style="">
                                            <div>

                                                <div class="glamviec">
                                                    <button type="button" class="doidiadiem" data-toggle="modal" data-target="#modalAddress">
                                                        <i class="fa fa-map-marker"></i>@(ViewBag.lang == "vi"? "Đổi địa điểm" : "Change location")
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="txtThotoilap" class="boxvc vcchung2">@item.Thotoilap</div>
                                        <div id="txtThotoithao" class="boxvc vcchung2">@item.Thotoithao</div>
                                        <div id="txtThotoilapvathao" class="boxvc vcchung2">@item.Thodenlapvathao</div>
                                        <div id="vc62">
                                            <input placeholder="@(ViewBag.lang == "vi"? "Vui lòng nhập ghi chú" : "Please enter a note.")..." id="txtGhichuLapDat">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>       <hr />

                    </div>
                    <div class="">

                        <div class="steptitle">
                            <span style="color:black" class="tongcong"><span id="ctl00_MainContent_tongcong"> </span> </span>
                        </div>
                        <div class="steptitle_right">
                            <span style="color:red;font-weight:bold;">@(ViewBag.lang == "vi"? "Tổng" : "Total") :</span>   <span style="color:red;font-weight:bold;" id="total_price" class="">0</span><span style="color:red;font-weight:bold;"> đ</span>
                        </div>
                    </div>

                    <div class="steptitle" style="margin-top: 50px;display:none;">
                        <span id="ctl00_MainContent_chonhinhthucdatcoc">3.  @(ViewBag.lang == "vi"? "Chọn hình thức đặt cọc" : "Choose a deposit method") :</span>
                    </div>
                    <div class="row myrow hidden">
                        <div class="col-sm-6">
                            <div id="ctl00_MainContent_div1">
                                <input id="cbtm" type="radio" name="radCoc" checked="checked" onchange="deposit1()">
                                <span onclick="autoclickRad('cbtm')"><span id="ctl00_MainContent_cocbangtienmat">Cọc bằng tiền mặt</span></span>
                            </div>

                        </div>
                        <div class="col-sm-2" style="text-align: right">
                            <div class="giatrisanpham giacoc">0 đ</div>

                        </div>
                        <div class="col-sm-12">
                            <div id="ctl00_MainContent_div2" style="margin-top: 10px; margin-bottom: 5px;">
                                <input id="cbtmgt" type="radio" name="radCoc" onchange="deposit2()">
                                <span style="cursor: pointer" onclick="autoclickRad('cbtmgt')"><span id="ctl00_MainContent_cocbangtienmatkethopgiayto">Cọc bằng tiền mặt kết hợp giấy tờ</span></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="ctl00_MainContent_childDatcoc" style="margin-top: 10px;" class=""><div class="row datcocrow"><div class="col-xs-6"><input type="radio" id="radFirst" name="radDeposit" onchange="getDeposit('7','150000')"><span>CMND | ID card</span></div><div class="col-xs-2" style="text-align: right;"><div style="color:#00A352">-<span>150.000</span> đ</div></div></div><div class="row datcocrow"><div class="col-xs-6"><input type="radio" name="radDeposit" onchange="getDeposit('8','200000')"><span>Passport</span></div><div class="col-xs-2" style="text-align: right;"><div style="color:#00A352">-<span>200.000</span> đ</div></div></div><div class="row datcocrow"><div class="col-xs-6"><input type="radio" name="radDeposit" onchange="getDeposit('9','300000')"><span>Bằng lái | Driver license</span></div><div class="col-xs-2" style="text-align: right;"><div style="color:#00A352">-<span>300.000</span> đ</div></div></div><div class="row datcocrow"><div class="col-xs-6"><input type="radio" name="radDeposit" onchange="getDeposit('10','400000')"><span>Hộ khẩu | Household</span></div><div class="col-xs-2" style="text-align: right;"><div style="color:#00A352">-<span>400.000</span> đ</div></div></div></div>
                            <div class="sotiencoconlai " style="margin-bottom: 10px; ">
                                <div class="col-sm-6">
                                    <span class="stc1"><span id="ctl00_MainContent_sotiencocconlai">Số tiền cọc còn lại là:</span> </span>
                                </div>
                                <div class="col-sm-2 text-right">

                                    <span style="color: #214F39; font-weight: bold;" id="tccl">0 đ</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px; text-align: right">

                    <div class="col-md-6 col-lg-6 col-md-offset-6">
                        <input type="button" class="btn btn-sm btngreen" style="font-weight: 600;border-radius:0px" onclick="javascript: return proceedAddToCartStep3();" value="@(ViewBag.lang == "vi"? "TIẾP THEO" : "Next")">
                    </div>
                </div>
            </div>

        </div>
    }
}
@Html.Action("CustomerAddressInfo", "Partial")


<script>
    function formatNumber(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    var serviceId = 1;
    var deliveryId = 1;
    var priceDelivery = parseInt('@ViewBag.costVanChuyen');
    var priceLap = parseInt('@ViewBag.costLaprap');
    var priceThao = parseInt('@ViewBag.costThao');
    $(document).ready(function () {
        loadDanhsachdiachi();
        $(".tab2").hide();
        LoadMacDinh('@ViewBag.CustomerID');
    });
    function loadDanhsachdiachi() {
        $.ajax({
            url: '/Order/LoadListAddrress',
            dataType: 'html',
            type: "GET",
            async: false,
            success: function (data, status, xhr) {
                $("#tbody").html(data);
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function LoadMacDinh() {
         var param = {
            "CustomerID": '@ViewBag.CustomerID',
        }
        $.ajax({
            url: '/Order/LoadMacDinh',
            dataType: 'html',
            data:param,
            type: "POST",
            async: false,
            success: function (data, status, xhr) {
                $("#txtAddress").html(data)
                //txtCustommerAddress
                $("#txtCustommerAddress").html(data)
                $("#txtCustomerAddress2").html(data)
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function insertAdress() {

        var param = {
            "ID": $("#txtcustomerid2").val(),
            "CustomerID": '@ViewBag.CustomerID',
            "Address": $("#txtAddress2").val(),
            "FullName": $("#txtName2").val(),
            "PhoneNumber": $("#txtPhone2").val(),
            "provinces": $("#slProvinces").val(),
            "districts": $("#slDistricts").val(),
            "wards": $("#slWards").val(),
        }
        $.ajax({
            url: '/Order/InsertAdress',
            dataType: 'html',
            data:param,
            type: "POST",
            async: false,
            success: function (data, status, xhr) {
                loadDanhsachdiachi();
                $(".tab1").show();
                $(".tab2").hide();
                 LoadMacDinh('@ViewBag.CustomerID')
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function insertHuyAdress() {
        $(".tab1").show();
        $(".tab2").hide();
    }
    function themdiachi() {
        $(".tab1").hide();
        $(".tab2").show();
        $("#txtName2").val('');
        $("#txtAddress2").val('');
        $("#txtPhone2").val('');
        changeProvinces();
    }
    function autoclickRad2() {
        $("#tuvanchuyen").trigger("click");
    }
    function autoclickRad() {
        $("#dvvanchuyen").trigger("click");
    }

    function closeradcha(){
        tuvanchuuyen();
        deliveryId = 1;
        twoService();
        $("#cpDelivery").html(formatNumber(0));
        $("#cpDelivery").attr("data-value", 0);
    }
    function closeradcha2() {
        $("#tuvanchuyen").trigger("click");
    }
    function spGiaotannha() {
        $("#gtn").trigger("click");
    }
    function spNhanTraTanNha() {
        $("#nttn").trigger("click");
    }
    function spGiaoVaNhanTraTanNha() {
        $("#radchild").trigger("click");
    }
    function clickradcha() {
        dichvuvanchuyen();
        $("#gtn").trigger("click");
    }
    function tuvanchuuyen() {
        $("#txtCustommerAddress").hide();
        $("#radDichVuVanChuyen").hide();
        $("#txtGiaohangtannha").hide();
        $("#txtNhantrtannha").hide();
        $("#txtGiaovanhantrantannha").hide();
        $("#txtGhichuVanchuyen").hide();
        $(".luughichu").hide();
        $("#xndd").hide();
    }
    function dichvuvanchuyen() {
        $("#txtCustommerAddress").show();
        $("#radDichVuVanChuyen").show();
        $(".luughichu").show();
        $("#txtGhichuVanchuyen").show();
        $("#xndd").show();
    }
    function Giaotannha() {
        $("#txtGiaohangtannha").show();
        $("#txtNhantrtannha").hide();
        $("#txtGiaovanhantrantannha").hide();
        deliveryId = 2;
        $("#cpDelivery").html(formatNumber(priceDelivery));
        $("#cpDelivery").attr("data-value", priceDelivery);
        twoService();
    }
    function NhanTraTanNha() {
        $("#txtGiaohangtannha").hide();
        $("#txtNhantrtannha").show();
        $("#txtGiaovanhantrantannha").hide();
        deliveryId = 3;
        $("#cpDelivery").html(formatNumber(priceDelivery));
        $("#cpDelivery").attr("data-value", priceDelivery);
        twoService();
    }
    function GiaoVaNhanTraTanNha() {
        $("#txtGiaohangtannha").hide();
        $("#txtNhantrtannha").hide();
        $("#txtGiaovanhantrantannha").show();
        deliveryId = 4;
        $("#cpDelivery").html(formatNumber(priceDelivery * 2));
        $("#cpDelivery").attr("data-value", priceDelivery * 2);
        twoService();
    }
    $(document).ready(function () {
        tuvanchuuyen();
        radTulapdat();
    });
    //Chọn Dịch Vụ Khác
    function radTulapdat() {
        $(".radcon2").hide();
        $(".contcon").hide();

        serviceId = 1;
        $("#cpService").html(formatNumber(0));
        $("#cpService").attr("data-value", 0);
        twoService();
    }
    function radHdsd() {
        $(".radcon2").hide();
        $(".contcon").hide();
        serviceId = 2;
        $("#cpService").html(formatNumber(0));
        $("#cpService").attr("data-value", 0);
        twoService();
    }
    function radThaolap() {
        $(".radcon2").show();
        $(".contcon").show();
        $("#radThotoilap").trigger("click");
    }
    function autoclickRad2(str) {
        if (str == "radTulapdat") {
            $("#radtulapdat").trigger("click");
        }
        if (str == "radHdsd") {
            $("#radhdsd").trigger("click");
        }
        if (str == "radThaolap") {
            $("#radthaolap").trigger("click");
        }
    }

    function radThotoilap() {
        $("#txtThotoilap").show();
        $("#txtThotoithao").hide();
        $("#txtThotoilapvathao").hide();
        serviceId = 3;
        $("#cpService").html(formatNumber(priceLap));
        $("#cpService").attr("data-value", priceLap);
        twoService();
    }
    function radThotoithao() {
        $("#txtThotoilap").hide();
        $("#txtThotoithao").show();
        $("#txtThotoilapvathao").hide();

        serviceId = 4;
        $("#cpService").html(formatNumber(priceThao));
        $("#cpService").attr("data-value", priceThao);
        twoService();
    }
    function radThodenlapvathao() {
        $("#txtThotoilap").hide();
        $("#txtThotoithao").hide();
        $("#txtThotoilapvathao").show();

        serviceId = 5;
        $("#cpService").html(formatNumber(priceLap + priceThao));
        $("#cpService").attr("data-value", priceLap + priceThao);
        twoService();
    }
    function spradThotoilap() {
        $("#radThotoilap").trigger("click");
    }
    function spradThotoithao() {
        $("#radThotoithao").trigger("click");
    }
    function spradThodenlapvathao() {
        $("#radThodenlapvathao").trigger("click");
    }

    function twoService() {
        var getdata = parseInt($("#cpDelivery").attr("data-value")) + parseInt($("#cpService").attr("data-value"));
        $("#total_price").html(formatNumber(getdata));
    }
    function proceedAddToCartStep3() {
        var param = {
            "serviceId": serviceId,
            "deliveryId": deliveryId,
            "deliverydes": $("#txtGhichuVanchuyen").val(),
            "servicedes": $("#txtGhichuLapDat").val(),
            "pOrderId":'@ViewBag.pOrderId'
        }
        $.ajax({
            url: '/Order/proceedAddToCartStep3',
            dataType: 'html',
            data:param,
            type: "POST",
            async: false,
            success: function (data, status, xhr) {
                location.href = "/order";
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function tgTGLV() {
        $("#mdTGLV").modal("toggle");
    }
</script>
<style>
    @@media (min-width: 768px) {
        .modal-dialog {
            width: 669px;
            margin: 30px auto;
        }
    }
</style>
@Html.Action("WasehouseTime", "Productdetail", new { whId = ViewBag.whId })